@{
    Layout = "_AdminLayout";
}

<body>
<br/><br/><br/>
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllReleaseMedicine", "Admin")",
                        update: {
                            url: "@Url.Action("EditReleaseMedicine","Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create:{
                            url: "@Url.Action("AddReleaseMedicine","Admin")",
                            dataType: "json",
                            type: "POST"  
                        },
                        destroy: {
                            url: "@Url.Action("DeleteReleaseMedicine","Admin")",
                            dataType: "json",
                            type: "DELETE"
                        },
                        parameterMap: function(options, operation) {
                          if (operation === "update" || operation === "create") {
                               options.releaseDate = kendo.toString(options.releaseDate, "dd/MM/yyyy");
                               options.expirationDate = kendo.toString(options.expirationDate, "dd/MM/yyyy");
                          }
                          return options;
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                Medicine: { from: "medicine", validation: {required: true} }, 
                                MedicineId: {from: "medicineId", validation: {required: true} },
                                Manufacturer: { from: "manufacturer", validation: {required: true} },
                                ManufacturerId: {from: "manufacturerId", validation: {required: true} }, 
                                Image: { from: "image", validation: {required: true} },
                                Description: {from: "description", validation: {required: true} }, 
                                ReleaseDate: { from: "releaseDate", type: "date", validation: {required: true }, format:"{0:dd/MM/yyyy}"},
                                ExpirationDate: { from: "expirationDate", type: "date", validation: {required: true }, format:"{0:dd/MM/yyyy}"}
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                format: "{dd/MM/yyyy}",
                parseFormats: "{dd/mm/yyyy}",
                height: 550,
                editable: {
                    mode: "popup",
                    window: {
                        scrollable: false,
                        resizable: false,
                    }
                },
                // filterable: true,
                // sortable: true,
                pageable: true,
                timezone: "Europe/Minsk",
                toolbar: [
                    {name: "create"}
                ],
                columns: [
                    {
                        field:"Id",
                        filterable: false
                    },
                    {
                        field: "Medicine.fullMedicine",
                        title: "Препарат",
                        editor: medicineEditor
                    },
                    {
                        field: "Manufacturer.manufacturer",
                        title: "Производитель",
                        editor: manufacturerEditor
                    }, 
                    {
                        field: "Image",
                        title: "Картинка",
                    },
                    {
                        field: "Description",
                        title: "Описание"
                    },
                    {
                        field: "ReleaseDate",
                        title: "Дата выпуска",
                        format:"{0:dd/MM/yyyy}"
                    }, 
                    {
                        field: "ExpirationDate",
                        title: "Срок годности",
                        format:"{0:dd/MM/yyyy}"
                    },
                    {
                        command: "edit", 
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
        });
        
        function manufacturerEditor(container, options) {
            $('<input required name="ManufacturerId">')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "manufacturer",
                    dataValueField: "id",
                    height: 500,
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("GetAllMedicineManufacturer", "Admin")",
                                dataType: "json",
                                cache: false
                            }
                        }
                    }
                });
        }
        
        function medicineEditor(container, options) {
            $('<input required name="MedicineId">')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "fullMedicine",
                    dataValueField: "id",
                    height: 500,
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("GetAllMedicine", "Admin")",
                                dataType: "json",
                                cache: false
                            }
                        }
                    }
                });
        }
    </script>
</div>
</body>