@{
    Layout = "_AdminLayout";
}

<body>
<br/><br/><br/>
<div id="example">
    <div id="grid"></div>
    <script>
        $(document).ready(function() {
            $("#grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: "@Url.Action("GetAllMedicineName", "Admin")",
                        update: {
                            url: "@Url.Action("EditMedicineName","Admin")",
                            dataType: "json",
                            type: "POST"
                        },
                        create:{
                            url: "@Url.Action("AddMedicineName","Admin")",
                            dataType: "json",
                            type: "POST"  
                        },
                        destroy: {
                            url: "@Url.Action("DeleteMedicineName","Admin")",
                            dataType: "json",
                            type: "DELETE"
                        }
                    },
                    schema: {
                        model: {
                            id: "Id",
                            fields: {
                                Id: { editable: false, from: "id", type: "number" },
                                CatalogMedicine: { from: "catalogMedicine", validation: {required: true} }, 
                                CatalogMedicinesId: {from: "catalogMedicinesId", validation: {required: true} },
                                Name: { from: "name", type: "string", validation: {required: true }},
                            }
                        }
                    },
                    pageSize: 20,
                    serverPaging: false,
                    serverFiltering: false,
                    serverSorting: false
                },
                height: 550,
                editable: "popup",
                filterable: true,
                sortable: true,
                pageable: true,
                toolbar: [
                    {name: "create"}
                ],
                columns: [
                    {
                        field: "Name",
                        title: "Название препарата"
                    }, 
                    {
                        field: "CatalogMedicine.nameCatalogMedicine",
                        title: "Предназначение препарата",
                        editor: catalogMedicineEditor
                    }, 
                    {
                        command: "edit", 
                    },
                    {
                        command: "destroy"
                    }
                ]
            });
        });
        
        function catalogMedicineEditor(container, options) {
            $('<input required name="CatalogMedicinesId">')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "nameCatalogMedicine",
                    dataValueField: "id",
                    height: 500,
                    dataSource: {
                        transport: {
                            read: {
                                url: "@Url.Action("GetAllCatalogMedicine", "Admin")",
                                dataType: "json",
                                cache: false
                            }
                        }
                    }
                });
        }
    </script>
</div>
</body>